<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fitip10">

    <application
        android:allowBackup="true"
        android:icon="@drawable/img"
        android:label="FITIP"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FITIP10">
        <activity
            android:name=".LoginProfessor"
            android:exported="true" />
        <activity
            android:name=".InformacoesPessoaisProfessor"
            android:exported="true" />
        <activity
            android:name=".Professor"
            android:exported="true" />
        <activity
            android:name=".CadastroProfessor"
            android:exported="true" />
        <activity
            android:name=".InformacoesPessoais"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Cadastro"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="FITIP" />
        <activity
            android:name=".EdicaoDados"
            android:exported="true" />
    </application>

</manifest>